# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Programming\Projects\dev\flatiron\labs\js-basics-variables-lab\js-looping-and-iteration-looping-code-along\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
